/* Start Css Rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: Source Sans Pro, sans-serif;

}

ul {
  list-style: none;
}
ul li {
  display: inline;
}
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  padding: 20px 55px 21px 54px;
  font-size: 16px;
  font-weight: 600;
  background-color: #db545a;
}

.btn:hover {
  background-color: #1976d2;
}
.container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

}

/* End Css Rules */

/* Start Header */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 24px;
  margin-bottom: 24px;
}

.header .header-nav {
  display: flex;
  flex-direction: column;
}

.header .header-nav .links li:not(:nth-child(1)) {
  padding-left: 20px;
}
.header-nav .links li a {
  color: #212121;
}
/* End Header */
/* Media Query */
/* Small */

@media (max-width: 480px) {

  .header .drowbdown {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    right: -320px;
 
  }
  .header .drowbdown span {
    background-color: #333;
    margin-bottom: 6px;
    height: 2px;
  }

  .header .drowbdown span:first-child {
    width: 100%;
  }
  .header .drowbdown span:nth-child(2) {
    width: 100%;
  }
  .header .drowbdown span:last-child {
    width: 100%;
    margin-bottom: 20px;
  }

  .header-nav .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    background-color: #333;
    padding: 20px 20px 0px 20px;
    display: none;
  }
  .header .header-nav .links li {
    display: block;
    padding-bottom: 20px;
  }
  .header .header-nav .links li:hover {
    background-color: #616161;
  }
  .header-nav .links li a {
    color: #ffffff;
  }
  .header-nav:hover .links {
    display: block;
  }
  .header .header-nav .links li:not(:nth-child(1)) {
    padding-left: 0px;
  }
}
@media (max-width: 768px) {
 

  .header .drowbdown {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    right: -460px;
  }
  .header .drowbdown span {
    background-color: #333;
    margin-bottom: 6px;
    height: 2px;
  }

  .header .drowbdown span:first-child {
    width: 100%;
  }
  .header .drowbdown span:nth-child(2) {
    width: 100%;
  }
  .header .drowbdown span:last-child {
    width: 100%;
    margin-bottom: 20px;
  }

  .header-nav .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    background-color: #333;
    padding: 20px 20px 0px 20px;
    display: none;
  }
  .header .header-nav .links li {
    display: block;
    padding-bottom: 20px;
  }
  .header .header-nav .links li:hover {
    background-color: #616161;
  }
  .header-nav .links li a {
    color: #ffffff;
  }
  .header-nav:hover .links {
    display: block;
  }
  .header .header-nav .links li:not(:nth-child(1)) {
    padding-left: 0px;
  }
}


/* Start travel-section */
.travel-section {
  background-color: #1976d2;
  position: relative;
  height: 400px;
}
.travel-section .overlay {
  position: absolute;
  right: 100px;
  top: 127px;
  width: 20%;
  height: 700px;
  background-color: #ffc107;
}
.travel-section img {
  position: absolute;
  width: 839px;
  margin: 200px 100px;
}

.travel-section .text {
  padding: 20px;
  background-color: white;
  position: absolute;
  left: 85px;
  top: 613px;
  width: 45%;
}
.travel-section .text p {
  font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 20px;
}
.travel-section .text h1 {
  font-size: 80px;
  font-family: Source Sans Pro, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
/* Media */

@media (max-width: 480px) {
  .travel-section {
  background-color: #1976d2;
  position: relative;
  height: 400px;
  min-height: 100vh;;
}
.travel-section .overlay {
  position: absolute;
  right: 30px;
    top: 40px;
    width: 30%;
  height: 430px;
  background-color: #ffc107;
}
.travel-section img {
  position: absolute;
  width: 500px;
  margin: 85px 200px;
}

.travel-section .text {
  padding: 20px;
  background-color: white;
 position: relative;
    left: 0px;
    top: 520px;
    width: 100%;
    text-align: center;
}
.travel-section .text p {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 20px;
}
.travel-section .text h1 {
  font-size: 80px;
  font-family: Source Sans Pro, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
  
}
@media (max-width: 768px) {
  .travel-section {
    height: 300px;
    width: 168vw;
  }
  .travel-section .overlay {
        right: 200px;
    top: 40px;
    width: 40%;
    height: 376px;
  }
  .travel-section img {
    position: absolute;
       width: 600px;
    margin: 95px 4px 80px 230px;
  }

  .travel-section .text {
    top: 425px;
    width: 50%;
    
  }
  .travel-section .text p {
    font-size: 32px;
    font-weight: 300;
  }
  .travel-section .text h1 {
  font-size: 70px;
  width: 90%;
}
}

/* End Travel-Section */
.clear-both {
  clear: both;
}
/* Start  Around Section  */
.around {
  margin-top: 500px;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.around .background-color {
  opacity: 0.6;
  position: absolute;
  right: 100px;
  bottom: -320%;
  background-color: #1976d2;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.around-text {
  position: relative;
    padding-top: 120px;
    padding-bottom: 60px;
    z-index: 1;
}
.around-text h2 {
  font-size: 70px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 700;
  text-transform: capitalize;
  font-weight: 700;
}
.around-text p {

  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: #333;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .around {
  margin-top: 450px;
}

.around .background-color {
    right: -10%;
    bottom: -452%;
}
.around-text {
    width: 155vw;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 120px;
}

.around-text p {
text-align: left;
}

  
}
@media (max-width: 768px) {
 .around {
  margin-top: 500px;
}

.around .container {
  width: 168%;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.around .background-color {
   right: -70px;
    bottom: 285px;
    width: 300px;
    height: 300px;

}
.around-text {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}
.around-text h2 {
  font-size: 80px;
  margin-bottom: 30px;
  font-family: Source Sans Pro, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
.around-text p {
 font-weight: 400;
    line-height: 2;
    color: #333;
    margin-bottom: 50px;
    width: 90%;
    margin-left: 94px;
    font-size: 30px;
}
}

/* End Around Section */

/* Start guide  Section*/
.guide {
  margin-top: 200px;
  position: relative;
}
.guide img {
  position: absolute;
  width: 770px;
  top: -150px
}
.guide .yellow {
  position: absolute;
  right: 50px;
  bottom: -435px;
  width: 500px;
  height: 400px;
  background-color: #ffc107;
}

.guide .blue {
  position: absolute;
  width: 600px;
    height: 327px;
    right: 300px;
    top: -200px;
  background-color: #1976d2;
}

.guide-text {
  position: absolute;
    font-family: Source Sans Pro, sans-serif;
    width: 486px;
    top: 217px;
    left: 220px;
    padding: 30px 40px;
    background-color: white;
}

.guide-text h3 {
 font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.guide-text p {
  font-size: 16px;
    line-height: 2;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
  .guide {
  margin-top: 180px;
  padding-bottom: 40px;

}
.guide img {

  width: 600px;
 
}
.guide .yellow {
    position: absolute;
    right: -280px;
    bottom: -34px;
    width: 500px;
    height: 400px;
}

.guide .blue {
position: relative;
    width: 455px;
    height: 300px;
    right: -229px;
    top: -220px;
}

.guide-text {
 width: 149%;
    top: 217px;
    left: 0;
    padding: 30px 48px;
}

.guide-text h3 {
 width: 62%;
}

.guide-text p {
  font-size: 30px;
    line-height: 2;
    margin-bottom: 30px;
    width: 71%;
}
}
@media (max-width: 768px) {
  .guide {
    width: 168%;
  margin-top: 200px;
}

.guide .container {

    display: flex;
    flex-direction: column;
    align-items: center;
}
.guide img {
      width: 70%;
    top: -62px;
}
.guide .yellow {
  position: absolute;
  right: 50px;
  bottom: -435px;
  width: 500px;
  height: 400px;
  background-color: #ffc107;
}

.guide .blue {
  position: absolute;
  width: 600px;
    height: 327px;
    right: 300px;
    top: -100px;
  background-color: #1976d2;
}

.guide-text {
  position: absolute;
    font-family: Source Sans Pro, sans-serif;
    width: 486px;
    top: 217px;
    left: 220px;
    padding: 30px 40px;
    background-color: white;
}

.guide-text h3 {
 font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.guide-text p {
  font-size: 16px;
    line-height: 2;
    margin-bottom: 30px;
}



}


/* End guide section */

/*  Start About us */
.about {
  margin-top: 1000px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/edfe0d34-85a2-334f-535a-16bb6c3310f4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about .container {
  position:relative;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  top: -350px;

}

.about .about-card {
  width: 100%;
  text-align: center;
  padding: 60px 30px;
  color: #ffffff;
  
}

.about .about-card:first-child {
  background-color: #478ac9;
}

.about .about-card:nth-child(2) {
      background-color: #db545a;
}

.about .about-card:last-child {
  background-color: #f1c50e;
}

.about .about-card i {
  font-size: 70px;
    margin-bottom: 30px;
}

.about .about-card h4 {
  font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about .about-card p {
    font-size: 19px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 30px;
}

.about-card a {
  font-size: 22px;
  color: white;
  font-weight: 400;
  border-bottom: 2px solid white ;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .about {
  width: 168%;
  margin-top: 620px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    top: -350px;

}

.about .about-card {
  width: 90%;
  padding: 60px 100px;
  
}

.about .about-card i {
  font-size: 70px;
    margin-bottom: 30px;
}

.about .about-card h4 {
  font-size: 42px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about .about-card p {
    font-size:  34px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 30px;
}
  .about .about-card a {
    font-size: 32px;
    border-bottom: 2px solid white;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
  }
}
@media (max-width: 768px) { 
   .about {
  width: 168%;
  margin-top: 775px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    top: -350px;

}

.about .about-card {
  width: 90%;
  padding: 60px 100px;
  
}

.about .about-card i {
  font-size: 70px;
    margin-bottom: 30px;
}

.about .about-card h4 {
  font-size: 42px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about .about-card p {
    font-size:  34px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 30px;
}
  .about .about-card a {
    font-size: 32px;
    border-bottom: 2px solid white;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
  }
}

/*  End About us */

/* Start Welcome Section */
.welcome {
  position: relative;
  top: -90px;

}
.welcome .container {
  display: flex;
}

.welcome .welcome-text {
    font-family: Source Sans Pro, sans-serif;
  background-color: #478ac9;
  color: #ffffff;
  padding: 100px 50px;
  text-align: center;
}

.welcome .welcome-text h5 {
font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.welcome .welcome-text i {
  font-size: 60px;
  margin-bottom: 30px;
}

.welcome .welcome-text p {
    color: white;
    font-size: 22px;
    line-height: 1.9;
    font-weight: 400;
}

@media (max-width: 480px)  {
.welcome {

  top: -270px;

}
  .welcome .container {
  width: 168%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome img {
  width: 90%;
}
.welcome .welcome-text {
  width: 90%;

}
.welcome .welcome-text h5 {
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 50px;
}
.welcome .welcome-text p { 
      font-size: 30px;
    line-height: 2;
}

}
@media (max-width: 768px)  {
.welcome {

  top: -270px;

}
  .welcome .container {
  width: 168%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome img {
  width: 90%;
}
.welcome .welcome-text {
  width: 90%;

}
.welcome .welcome-text h5 {
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 50px;
}
.welcome .welcome-text p { 
      font-size: 30px;
    line-height: 2;
}

}

/* End Welcome Section */

/* Start Holidays Section  */
.holidays {
  text-align: right;

  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.holidays .background-color {
  opacity: 0.6;
  position: absolute;
  left: 180px;
  bottom: -230%;
  background-color: #1976d2;
  width: 319px;
  height: 319px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.holidays-text {
    font-family: Source Sans Pro, sans-serif;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}
.holidays-text h2 {
  margin-right: 100px;
  font-size: 65px;
  margin-bottom: 30px;
  font-family: Source Sans Pro, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
.holidays-text p {
  width: 91%;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: #333;
  margin-bottom: 30px;
}
.holidays-text a {
  margin-right: 100px;
 
}


@media (max-width: 480px) {
  .holidays {
  padding-top: 0px;
}

.holidays .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 168%;

}

.holidays .background-color {
    left: 220px;
    bottom: -600%;
    width: 300px;
    height: 300px;
  
}

.holidays-text {
  padding-top: 0px;
  
}

.holidays-text h2 {
  margin-right: 100px;
  font-size: 65px;
  margin-bottom: 30px;
  font-family: Source Sans Pro, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
.holidays-text p {
    width: 90%;
    font-size: 24px;
    margin-bottom: 60px;
}
.holidays-text a {
  margin-right: 80px;
 
}
}
@media (max-width: 678px) {
  .holidays {
  padding-top: 0px;
}

.holidays .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 168%;

}

.holidays .background-color {
    left: 220px;
    bottom: -600%;
    width: 300px;
    height: 300px;
  
}

.holidays-text {
  padding-top: 0px;
  
}

.holidays-text h2 {
  margin-right: 100px;
  font-size: 65px;
  margin-bottom: 30px;
  font-family: Source Sans Pro, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
.holidays-text p {
    width: 90%;
    font-size: 24px;
    margin-bottom: 60px;
}
.holidays-text a {
  margin-right: 80px;
 
}
}
/* End Holidays Section  */

/* Start Amazing Section  */
.amazing {
  margin-top: 500px;
  position: relative;
}

.amazing .container {
    display: flex;
    align-items: flex-start;
  
}

.amazing .bg-yellow {
  width: 200px;
  height: 200px;
  background-color: #ffc107;
  position: absolute;
  right: 150px;
    top: -45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.amazing img {
  width: 55%;
}

.amazing .amazing-text {
    font-family: Source Sans Pro, sans-serif;
  background-color: #f2f2f2;
  padding: 65px 40px;
  position: relative;
  left: -100px;
    top: 42px;

}

.amazing .amazing-text h3 {
  font-size: 55px;
    font-weight: 700;
  margin-bottom: 30px;
}

.amazing-text p {
    font-size: 18px;
    line-height: 2;
    font-weight: 400;
    margin-bottom: 30px;
}

@media (max-width: 480px) { 
.amazing .container {
    display: flex;
    align-items: flex-start;
    width: 168%;
  
}
.amazing img {
  width: 80%;
}
.amazing .amazing-text {
    left: -440px;
    top: 600px;
    padding: 60px 30px 60px 30px;
}

.amazing .amazing-text h3 {
  font-size: 55px;
      width: 500px;
    font-weight: 700;
  margin-bottom: 30px;
}

.amazing-text p {
    font-size: 30px;
    line-height: 2;
    font-weight: 400;
    margin-bottom: 35px;
}

.amazing .bg-yellow {
    width: 200px;
    height: 200px;
    background-color: #ffc107;
    position: absolute;
   right: -320px;
    top: 1197px;
}
}

@media (max-width: 768px) { 
.amazing .container {
    display: flex;
    align-items: flex-start;
    width: 168%;
  
}
.amazing img {
  width: 80%;
}
.amazing .amazing-text {
    left: -440px;
    top: 600px;
    padding: 60px 30px 60px 30px;
}

.amazing .amazing-text h3 {
  font-size: 55px;
      width: 500px;
    font-weight: 700;
  margin-bottom: 30px;
}

.amazing-text p {
    font-size: 30px;
    line-height: 2;
    font-weight: 400;
    margin-bottom: 35px;
}

.amazing .bg-yellow {
    width: 200px;
    height: 200px;
    background-color: #ffc107;
    position: absolute;
   right: -320px;
    top: 1197px;
}
}
/* End Amazing Section  */

/* Love travel section */
.love-travel  {
  margin-top: 200px;
  position: relative;
}

.love-travel .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.love-card {
  background-color: #db545a;
  padding: 60px 30px;
  width: 50%;
}

.love-travel .love-card h3 {
  color: #ffffff;
  font-size: 62px;
  font-weight: 700;
  margin-bottom: 60px;

}

.love-travel img {
  width: 250px;
  height: 250px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.love-text {
  width: 45%;
}
.love-text .love-icon {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: #478ac9;
  border-radius: 50%;
  margin-bottom: 45px;
}

.love-text p {
  font-size: 22px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 30px;
}
@media (max-width: 480px) { 
.love-travel  {
  margin-top: 700px;

}
.love-travel .container {
     width: 168%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.love-card {
    padding: 60px 50px 60px 62px;
    width: 80%;
}

.love-text {
  width: 80%;
}

.love-text p {
  font-size: 22px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 30px;
}
}

@media (max-width: 678px) { 
.love-travel  {
  margin-top: 700px;

}
.love-travel .container {
     width: 168%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.love-card {
    padding: 60px 50px 60px 62px;
    width: 80%;
}

.love-text {
  width: 80%;
}

.love-text p {
  font-size: 22px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 30px;
}
}


/* Love travel section */

/* Start Footer */
.footer {
  margin-top: 100px;
  background-color: #333333;
  padding-top: 60px;
}

.footer .container {
display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .contact-us {
  width: 50%;
  padding-bottom: 60px;
}

.footer .contact-us form {
  color: #ffff;
  display: flex;
  flex-direction: column;
}

.contact-us form h2 {
  font-size: 62px;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-us form label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

.contact-us form input {
  margin-bottom: 25px;
  padding: 16px 10px 16px 12px;
  border: none;
}

.contact-us form input:focus {
  outline: none;
}
.contact-us input::placeholder {
  color: #c2c2c2;
  font-size: 20px;
  font-weight: 300;
}

.contact-us form input[type="submit"] {
  color: white;
  text-transform: uppercase;
  padding: 20px 55px 21px 54px;
  font-size: 20px;
  font-weight: 700;
  background-color: #db545a;
  cursor: pointer;
}

.contact-us form input[type="submit"]:hover {
  background-color: #1976d2;

}

.footer iframe {
  margin-top: 130px;
  width: 45%;
  height: 240px;

  
}

.footer .copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  color: #ffff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

@media (max-width: 480px) { 
  .footer {
  width: 168%;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .contact-us {
    width: 100%;
    padding-bottom: 0px;
}


.footer iframe {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;

  
}
}
@media (max-width: 678px) { 
  .footer {
  width: 168%;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .contact-us {
    width: 100%;
    padding-bottom: 0px;
}


.footer iframe {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;

  
}
}
/* End Footer  */

