/* Start Css Rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: Source Sans Pro, sans-serif;

}

ul {
  list-style: none;
}
ul li {
  display: inline;
}
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  padding: 20px 55px 21px 54px;
  font-size: 16px;
  font-weight: 600;
  background-color: #db545a;
}

.btn:hover {
  background-color: #1976d2;
}


/* End Css Rules */

/* Start Header */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 24px;
  margin-bottom: 24px;
}

.header .header-nav {
  display: flex;
  flex-direction: column;
}

.header .header-nav .links li:not(:nth-child(1)) {
  padding-left: 20px;
}
.header-nav .links li a {
  color: #212121;
}
/* End Header */
/* Media Query */
/* Small */




/* Start travel-section */
.travel-section {
  background-color: #1976d2;
  position: relative;
  height: 400px;
}
.travel-section .overlay {
  position: absolute;
  right: 100px;
  top: 127px;
  width: 20%;
  height: 700px;
  background-color: #ffc107;
}
.travel-section img {
  position: absolute;
  width: 839px;
  margin: 200px 100px;
}

.travel-section .text {
  padding: 20px;
  background-color: white;
  position: absolute;
  left: 85px;
  top: 613px;
  width: 45%;
}
.travel-section .text p {
  font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 20px;
}
.travel-section .text h1 {
  font-size: 80px;
  font-family: Source Sans Pro, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
/* Media */


/* End Travel-Section */
.clear-both {
  clear: both;
}
/* Start  Around Section  */
.around {
  margin-top: 500px;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.around .background-color {
  opacity: 0.6;
  position: absolute;
  right: 100px;
  bottom: -320%;
  background-color: #1976d2;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.around-text {
  position: relative;
    padding-top: 120px;
    padding-bottom: 60px;
    z-index: 1;
}
.around-text h2 {
  font-size: 70px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 700;
  text-transform: capitalize;
  font-weight: 700;
}
.around-text p {

  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: #333;
  margin-bottom: 30px;
}



/* End Around Section */

/* Start guide  Section*/
.guide {
  margin-top: 200px;
  position: relative;
}
.guide img {
  position: absolute;
  width: 770px;
  top: -150px
}
.guide .yellow {
  position: absolute;
  right: 50px;
  bottom: -435px;
  width: 500px;
  height: 400px;
  background-color: #ffc107;
}

.guide .blue {
  position: absolute;
  width: 600px;
    height: 327px;
    right: 300px;
    top: -200px;
  background-color: #1976d2;
}

.guide-text {
  position: absolute;
    font-family: Source Sans Pro, sans-serif;
    width: 486px;
    top: 217px;
    left: 220px;
    padding: 30px 40px;
    background-color: white;
}

.guide-text h3 {
 font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.guide-text p {
  font-size: 16px;
    line-height: 2;
    margin-bottom: 30px;
}



/* End guide section */

/*  Start About us */
.about {
  margin-top: 1000px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/edfe0d34-85a2-334f-535a-16bb6c3310f4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about .container {
  position:relative;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  top: -350px;

}

.about .about-card {
  width: 100%;
  text-align: center;
  padding: 60px 30px;
  color: #ffffff;
  
}

.about .about-card:first-child {
  background-color: #478ac9;
}

.about .about-card:nth-child(2) {
      background-color: #db545a;
}

.about .about-card:last-child {
  background-color: #f1c50e;
}

.about .about-card i {
  font-size: 70px;
    margin-bottom: 30px;
}

.about .about-card h4 {
  font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about .about-card p {
    font-size: 19px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 30px;
}

.about-card a {
  font-size: 22px;
  color: white;
  font-weight: 400;
  border-bottom: 2px solid white ;
  text-transform: uppercase;
}


/*  End About us */

/* Start Welcome Section */
.welcome {
  position: relative;
  top: -90px;

}
.welcome .container {
  display: flex;
}

.welcome .welcome-text {
    font-family: Source Sans Pro, sans-serif;
  background-color: #478ac9;
  color: #ffffff;
  padding: 100px 50px;
  text-align: center;
}

.welcome .welcome-text h5 {
font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.welcome .welcome-text i {
  font-size: 60px;
  margin-bottom: 30px;
}

.welcome .welcome-text p {
    color: white;
    font-size: 22px;
    line-height: 1.9;
    font-weight: 400;
}



/* End Welcome Section */

/* Start Holidays Section  */
.holidays {
  text-align: right;

  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.holidays .background-color {
  opacity: 0.6;
  position: absolute;
  left: 180px;
  bottom: -230%;
  background-color: #1976d2;
  width: 319px;
  height: 319px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.holidays-text {
    font-family: Source Sans Pro, sans-serif;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}
.holidays-text h2 {
  margin-right: 100px;
  font-size: 65px;
  margin-bottom: 30px;
  font-family: Source Sans Pro, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
.holidays-text p {
  width: 91%;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: #333;
  margin-bottom: 30px;
}
.holidays-text a {
  margin-right: 100px;
 
}



/* End Holidays Section  */

/* Start Amazing Section  */
.amazing {
  margin-top: 500px;
  position: relative;
}

.amazing .container {
    display: flex;
    align-items: flex-start;
  
}

.amazing .bg-yellow {
  width: 200px;
  height: 200px;
  background-color: #ffc107;
  position: absolute;
  right: 150px;
    top: -45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.amazing img {
  width: 55%;
}

.amazing .amazing-text {
    font-family: Source Sans Pro, sans-serif;
  background-color: #f2f2f2;
  padding: 65px 40px;
  position: relative;
  left: -100px;
    top: 42px;

}

.amazing .amazing-text h3 {
  font-size: 55px;
    font-weight: 700;
  margin-bottom: 30px;
}

.amazing-text p {
    font-size: 18px;
    line-height: 2;
    font-weight: 400;
    margin-bottom: 30px;
}


/* End Amazing Section  */

/* Love travel section */
.love-travel  {
  margin-top: 200px;
  position: relative;
}

.love-travel .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.love-card {
  background-color: #db545a;
  padding: 60px 30px;
  width: 50%;
}

.love-travel .love-card h3 {
  color: #ffffff;
  font-size: 62px;
  font-weight: 700;
  margin-bottom: 60px;

}

.love-travel img {
  width: 250px;
  height: 250px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.love-text {
  width: 45%;
}
.love-text .love-icon {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: #478ac9;
  border-radius: 50%;
  margin-bottom: 45px;
}

.love-text p {
  font-size: 22px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 30px;
}



/* Love travel section */

/* Start Footer */
.footer {
  margin-top: 100px;
  background-color: #333333;
  padding-top: 60px;
}

.footer .container {
display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .contact-us {
  width: 50%;
  padding-bottom: 60px;
}

.footer .contact-us form {
  color: #ffff;
  display: flex;
  flex-direction: column;
}

.contact-us form h2 {
  font-size: 62px;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-us form label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

.contact-us form input {
  margin-bottom: 25px;
  padding: 16px 10px 16px 12px;
  border: none;
}

.contact-us form input:focus {
  outline: none;
}
.contact-us input::placeholder {
  color: #c2c2c2;
  font-size: 20px;
  font-weight: 300;
}

.contact-us form input[type="submit"] {
  color: white;
  text-transform: uppercase;
  padding: 20px 55px 21px 54px;
  font-size: 20px;
  font-weight: 700;
  background-color: #db545a;
  cursor: pointer;
}

.contact-us form input[type="submit"]:hover {
  background-color: #1976d2;

}

.footer iframe {
  margin-top: 130px;
  width: 45%;
  height: 240px;

  
}

.footer .copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  color: #ffff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}


/* End Footer  */

